.gif-1 {
    background-image: url(media/backgrounds/1.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.gif-2 {
    background-image: url(media/backgrounds/2.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.gif-3 {
    background-image: url(media/backgrounds/3.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.gif-4 {
    background-image: url(media/backgrounds/4.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.gif-5 {
    background-image: url(media/backgrounds/5.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.gif-6 {
    background-image: url(media/backgrounds/6.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.gif-7 {
    background-image: url(media/backgrounds/7.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.gif-8 {
    background-image: url(media/backgrounds/8.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.gif-9 {
    background-image: url(media/backgrounds/9.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.gif-10 {
    background-image: url(media/backgrounds/10.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.gif-11 {
    background-image: url(media/backgrounds/11.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.gif-12 {
    background-image: url(media/backgrounds/12.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.gif-13 {
    background-image: url(media/backgrounds/13.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.gif-14 {
    background-image: url(media/backgrounds/14.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.gif-15 {
    background-image: url(media/backgrounds/15.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}