@font-face {
    font-family: 'Diablo';
    src: url(fonts/DiabloHeavy.ttf);
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
    }
}


/*////////// Scrollbar //////////////////////////*/


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #8b0000;
    border-radius: 5px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

body,
html {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #4b0018;
    background-attachment: fixed;
    background-position: center center;
    cursor: url(media/cursorPointer.png), auto !important;
}

body {
    cursor: url(media/cursorPointer.png), auto !important;
}

a {
    color: #14e6f8;
}

.win-flex {
    flex: 1;
    padding: 1% 2%;
}

.flex-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
}


/*         Elements      */

.quotes {
    width: 100%;
    height: 5%;
    background-image: linear-gradient(to right, #f00000, #800000);
    opacity: 0.7;
    white-space: nowrap;
    overflow: hidden;
    font-size: 150%;
    position: absolute;
    top: 0;
    box-shadow: 0 0 75px -15px #ff2469;
    border-bottom: 1px solid #ff2469;
}

.quote {
    text-shadow: 1px 1px #000;
    display: inline-block;
    -webkit-animation: scroll 45s infinite linear;
}

#playerContainer {
    width: 100%;
    height: 30%;
    position: fixed;
    bottom: 0;
    display: inline-flex;
    box-sizing: border-box;
}

#player {
    width: 70%;
    height: 100%;
    max-height: 215px;
    background-image: url(media/player/playerBackground.png);
    border: 1px solid #5f290a;
    border-radius: 15px 15px 0 0;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    z-index: -3;
}

#volumeContainer {
    width: 100%;
    height: 20px;
    position: relative;
    margin: 0px auto 0px auto;
    top: 18%;
    text-align: center;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10+ and Edge */
    user-select: none;
    /* Standard syntax */
}

.volume-bar {
    width: 10%;
    height: 40%;
    border-radius: 5px;
    display: inline-block;
    margin: auto;
    border: 1px solid;
    background-color: #997c2c;
}

#volumeUp {
    display: inline-block;
    font-size: 225%;
    font-family: 'Diablo';
    color: #f00;
    line-height: 60%;
    text-shadow: 0 0 5px #ff2469;
    border-radius: 5px;
    background-image: radial-gradient(#733111, #3A1909);
    border: 1px solid #f00;
    cursor: url(media/cursorPointer.png), auto !important;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10+ and Edge */
    user-select: none;
    /* Standard syntax */
}

#volumeUp:active {
    box-shadow: 0 0 50px -10px #ff0000;
    transition: translateY(2px);
}

#volumeDown {
    display: inline-block;
    font-size: 225%;
    font-family: 'Diablo';
    color: #f00;
    line-height: 60%;
    text-shadow: 0 0 5px #ff2469;
    border-radius: 5px;
    background-image: radial-gradient(#733111, #3A1909);
    border: 1px solid #f00;
    cursor: url(media/cursorPointer.png), auto !important;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10+ and Edge */
    user-select: none;
    /* Standard syntax */
}

#hpContainer {
    width: 15%;
    height: 85%;
    box-sizing: border-box;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 50px -10px #ff0000;
    z-index: 1;
}

#manaContainer {
    width: 15%;
    height: 85%;
    box-sizing: border-box;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 50px -10px #0000ff;
    z-index: 1;
}

#hp {
    width: 100%;
    height: 100%;
    background-image: url(media/hp.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    border-radius: 25px 25px 0 0;
}

#mana {
    width: 100%;
    height: 100%;
    background-image: url(media/mana.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    border-radius: 25px 25px 0 0;
}

.adorno1 {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    background-image: url(media/adorno1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.adorno2 {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(media/adorno2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#artworkContainer {
    width: 125px;
    height: 125px;
    position: relative;
    border: 3px solid #733111;
    border-radius: 5px;
    margin: 10px 0px 0em 1em;
    float: left;
}

#artwork {
    width: 100%;
    height: 100%;
    opacity: 1;
    user-select: none;
}

.song-detail {
    width: 45%;
    height: 20%;
    position: relative;
    display: inline-block;
    margin: 1em 0 15px 3px;
}

.artist-name {
    font-size: 100%;
    font-weight: 700;
    text-shadow: 0 0 5px #ff2469;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.song-name {
    width: 85%;
    position: relative;
    font-size: 95%;
    font-weight: 400;
    text-shadow: 0 0 5px #ff2469;
    margin: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.button-list {
    position: relative;
    width: 75%;
    display: flex;
    flex-direction: row;
    float: left;
    right: 1%;
    margin: 5px 0 5px 1em;
}


/* Windows */


/*Inventory*/

#inventoryContainer {
    position: absolute;
    width: 95%;
    height: 85%;
    display: none;
    margin: 0 auto;
    box-sizing: border-box;
}

.close-inventory-btn {
    width: 20px;
    height: 20px;
    position: relative;
    border: 1px solid #f00;
    border-radius: 5px;
    background-color: #3A1909;
    background-image: url(media/close.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #DB5F17;
    text-align: center;
    padding: -2.5px;
    float: left;
}

.close-inventory-btn:hover {
    box-shadow: 0px 0px 6px 3px #ff0000;
}

.close-inventory-btn:active {
    transform: translateY(2px);
}

#inventory {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 100px 100px 5px 5px;
    box-shadow: 0 0 5px 3px #78614d;
}

#inventoryGlass {
    position: relative;
    margin: auto;
    width: 100px;
    height: 95px;
    opacity: 0.8;
    background-image: url(media/glassInventory.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.inventoryContent {
    width: 95%;
    height: 65%;
    position: relative;
    background-image: url(media/inventoryContentBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    overflow-y: scroll;
    box-shadow: 0 0px 3px 1px #78614d;
    user-select: none;
}

.inventory-slot {
    width: 30%;
    height: 20%;
    box-shadow: 0 1px 3px 1px #ff0000;
    position: relative;
    display: inline-block;
    margin: 3px;
    border-radius: 5px;
}

#botaoRandom {
    position: relative;
    width: 80%;
    height: 5%;
    text-align: center;
    margin: auto;
    top: 25px;
    padding: 6px;
    background-image: url(media/botaoTemplate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0px 3px 1px #78614d;
    opacity: 0.8;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10+ and Edge */
    user-select: none;
    /* Standard syntax */
}

#botaoRandom:hover {
    box-shadow: 0 0px 10px 1px #78614d;
    color: rgb(204, 204, 204);
    opacity: 1;
}

#botaoRandom:active {
    box-shadow: 0 0px 10px 1px #78614d;
    color: rgb(204, 204, 204);
    opacity: 1;
    transform: translateY(2px);
}


/* //////////////////////////////////////////////////    Recent Tracks     //////////////////////////////////////////////////////////// */

#tracksContainer {
    position: absolute;
    width: 95%;
    height: 85%;
    display: none;
    margin: 0 auto;
    box-sizing: border-box;
}

.close-tracks-btn {
    width: 20px;
    height: 20px;
    position: relative;
    border: 1px solid #f00;
    border-radius: 5px;
    background-color: #3A1909;
    background-image: url(media/close.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #DB5F17;
    text-align: center;
    padding: -2.5px;
    float: left;
}

.close-tracks-btn:hover {
    box-shadow: 0px 0px 6px 3px #ff0000;
}

.close-tracks-btn:active {
    transform: translateY(2px);
}

#recentTracks {
    position: relative;
    width: 90%;
    height: 65%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 100px 100px 5px 5px;
    box-shadow: 0 0px 5px 3px #78614d;
}

#recentTracksGlass {
    position: relative;
    margin: auto;
    width: 100px;
    height: 85px;
    opacity: 0.8;
    background-image: url(media/glassRecentTracks.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.recentTracksContent {
    width: 95%;
    height: 70%;
    position: relative;
    background-image: url(media/windowDarkBackgroundTemplate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    overflow-y: scroll;
    box-shadow: 0 0px 3px 1px #78614d;
}


/* //////////////////////////////////////////////////    About     //////////////////////////////////////////////////////////// */

#aboutContainer {
    position: absolute;
    width: 95%;
    height: 85%;
    display: none;
    margin: 0 auto;
    box-sizing: border-box;
}

.close-about-btn {
    width: 20px;
    height: 20px;
    position: relative;
    border: 1px solid #f00;
    border-radius: 5px;
    background-color: #3A1909;
    background-image: url(/media/close.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #DB5F17;
    text-align: center;
    padding: -2.5px;
    float: left;
}

.close-about-btn:hover {
    box-shadow: 0px 0px 6px 3px #ff0000;
}

.close-about-btn:active {
    transform: translateY(2px);
}

#about {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 100px 100px 5px 5px;
    box-shadow: 0 0px 5px 3px #78614d;
}

#aboutGlass {
    position: relative;
    margin: auto;
    width: 100px;
    height: 95px;
    opacity: 0.8;
    background-image: url(media/glassAbout.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.aboutContent {
    width: 95%;
    height: 75%;
    position: relative;
    background-image: url(media/windowDarkBackgroundTemplate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    overflow-y: scroll;
    box-shadow: 0 0px 3px 1px #78614d;
}

.stream-link-btn {
    width: 95%;
    height: 5%;
    position: relative;
    display: block;
    margin: 10px auto;
    background-image: url(media/botaoTemplate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none !important;
    color: #9e9e9e;
    font-family: 'Diablo';
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0px 3px 1px #78614d;
    opacity: 0.8;
}

.stream-link-btn:hover {
    box-shadow: 0 0px 10px 1px #78614d;
    color: rgb(204, 204, 204);
    opacity: 1;
}

.stream-link-btn:active {
    box-shadow: 0 0px 10px 1px #78614d;
    color: rgb(204, 204, 204);
    opacity: 1;
    transform: translateY(2px);
}


/*  ////////////////////////////////////////////////       Buttons      ////////////////////////////////////////////*/

#play-button {
    height: 50px;
    width: 120px;
    margin-left: 150px;
    display: block;
    position: relative;
    background-color: transparent;
    border: none;
    background-image: url(media/player/botaoPlayBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url(media/cursorPointer.png), auto !important;
    user-select: none;
}

#play-button:hover {
    box-shadow: 0 0px 10px 1px #78614d;
    color: rgb(204, 204, 204);
    border: none;
}

#play-button:active {
    box-shadow: 0 0px 10px 1px #78614d;
    color: rgb(204, 204, 204);
    transform: translateY(2px);
    border: none;
}

.play-btn-image {
    width: 75%;
    height: 75%;
    padding-left: 3px;
    background-image: url(media/player/play.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#inventoryButton {
    width: 50px;
    height: 50px;
}

.inventory-btn-image {
    background-image: url(media/player/bag.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 95%;
    height: 95%;
}

#gameButton {
    width: 50px;
    height: 50px;
}

.game-btn-image {
    background-image: url(media/player/swords.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 95%;
    height: 95%;
}

#tracksButton {
    width: 50px;
    height: 50px;
}

.tracks-btn-image {
    width: 95%;
    height: 95%;
    background-image: url(media/player/tracks.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#aboutButton {
    width: 50px;
    height: 50px;
}

.about-btn-image {
    width: 95%;
    height: 95%;
    background-image: url(media/player/about.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#openPortalButton {
    width: 50px;
    height: 50px;
    background-image: radial-gradient(#110c08, #3a3d40);
    border: none;
    box-shadow: 0px 0px 6px 3px #ff000088;
}

#openPortalButton:hover {
    box-shadow: 0px 0px 6px 3px #ff0000;
}

.open-portal-btn-image {
    width: 95%;
    height: 95%;
    background-image: url(media/player/portal.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#portalButton {
    display: none;
    width: 85px;
    height: 185px;
    background-image: url(media/portal.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
}


/*         Templates      */

.window-template {
    background-image: url(media/windowTemplate.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    width: 100%;
    height: 15%;
    background-color: transparent;
    position: relative;
    box-sizing: border-box;
    border-radius: 100px 100px 0 0;
}

.header-text {
    color: #ffc;
    font-size: 95%;
    font-family: 'Diablo';
    padding: 1px;
    line-height: 75%;
    margin: 5px
}

.lead-text {
    font-family: 'Diablo';
    font-size: 125%;
    line-height: 20px;
    margin: 10px;
    font-weight: 400;
    color: #e5e5e5;
}

.inner-text {
    font-size: 90%;
    font-family: 'Diablo';
    color: #f00;
    padding: 1px;
    line-height: 130%;
    margin: 5px;
}

.button-text {
    font-size: 95%;
    font-family: 'Diablo';
    color: #9e9e9e;
    padding: 1px;
    line-height: 130%;
    cursor: url(media/cursorPointer.png), auto;
}

.standard-btn {
    font-size: 90%;
    padding: 3px;
    border-radius: 5px;
    background-image: radial-gradient(#733111, #3A1909);
    border: 1px solid #f00;
    margin: 5px;
    cursor: url(media/cursorPointer.png), auto !important;
}

.standard-btn:hover {
    box-shadow: 0px 0px 6px 3px #ff0000;
    cursor: url(media/cursorPointer.png), auto !important;
}

.standard-btn:active {
    transform: translateY(2px);
}

.close-btn {
    width: 20px;
    height: 20px;
    position: relative;
    border: 1px solid #f00;
    border-radius: 5px;
    cursor: url(media/cursorPointer.png), auto;
}

.line {
    background-image: url(media/adornoHeader.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-bottom: 2.5px;
    width: 100%;
    height: 6%;
}


/* Media Queries */

@media (min-width: 400px) {
    #inventoryContainer {
        width: 380px;
        height: 595px;
    }
    #tracksContainer {
        width: 380px;
        height: 595px;
    }
}

@media(min-width: 500px) {
    #aboutContainer {
        width: 380px;
        height: 595px;
    }
}

@media(min-width: 768px) {
    #hpContainer,
    #hp {
        width: 180px;
        height: 180px;
        border-radius: 100%;
    }
    #manaContainer,
    #mana {
        width: 180px;
        height: 180px;
        border-radius: 100%;
    }
    .adorno1,
    .adorno2 {
        width: 90%;
    }
}

@media(min-width:990px) {
    #volumeContainer {
        top: 24%;
    }
    #playerContainer {
        height: 210px;
        position: fixed;
        bottom: 0;
    }
    #artworkContainer {
        width: 145px;
        height: 145px;
    }
    #play-button {
        margin-left: 170px;
    }
    .button-list {
        width: 50%;
        right: 0;
        margin: 20px 0 0px 5px;
    }
}

@media (min-width: 1236px) {
    #volumeContainer {
        top: 24%;
    }
}

@media(min-width: 1366px) {
    #playerContainer {
        width: 1200px;
    }
    #volumeContainer {
        width: 1375px;
        height: 20px;
        position: fixed;
        margin: 0px auto 0px auto;
        bottom: 215px;
        text-align: center;
        top: unset;
    }
}


/*////////////////////////////////////////////////////////////// SHoutcast alteracoes //////////////////////////////////////////////*/

.cccover {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
}

.cctitle {
    text-align: center;
    color: #ff0000 !important;
}

.ccartist {
    text-align: center;
    color: #ff0000 !important;
}

.cctrack {
    text-align: center;
}

.cctrack .ccdetails_withcover {
    margin: 0 !important;
}

.cctrack a.ccbuy,
.cctrack a.ccbuy:link,
.cctrack a.ccbuy:active,
.cctrack a.ccbuy:visited,
.cctrack a.ccbuy:hover {
    display: none !important;
}